# dev server
PUBLIC_DISABLE_MSW=false
PUBLIC_MOCK_STUDENTVUE_ORIGIN=https://parentvue.cusdk8.org

# generating mocks
STUDENTVUE_DOMAIN=parentvue.cusdk8.org
STUDENTVUE_USERNAME=
STUDENTVUE_PASSWORD=
STUDENTVUE_MOCK_DOCUMENT_GU=
STUDENTVUE_MOCK_ATTACHMENT_GU=
